[tool.poetry]
name = "dotenv-linter"
version = "0.1.5"
description = "Linting dotenv files like a charm!"
authors = [
  "sobolevn <mail@sobolevn.me>"
]
license = "MIT"

readme = "README.md"

repository = "https://github.com/wemake-services/dotenv-linter"
homepage = "https://dotenv-linter.readthedocs.io"

keywords = [
  "dotenv",
  "linter",
  "wemake.services",
  "code quality"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.dependencies]
python = "^3.6"

ply = "^3.11"
click = ">=6,<8"
click_default_group = "^1.2"
dataclasses = { version = ">=0.6,<0.8", python = "<3.7" }
typing_extensions = "^3.6"

[tool.poetry.dev-dependencies]
wemake-python-styleguide = "^0.14.0"
flake8-pytest-style = "^1.3"
nitpick = "^0.23"
mypy = "^0.790"

pytest = "^6.1"
pytest-cov = "^2.10"
pytest-randomly = "^3.4"

sphinx = "^2.4"
sphinx-autodoc-typehints = "^1.10"
sphinx-click = "^2.5"
doc8 = "^0.8"
m2r = "^0.2"
tomlkit = "^0.7"
safety = "^1.9"

[tool.poetry.scripts]
dotenv-linter = "dotenv_linter.cli:cli"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
