[tool.poetry]
name = "dotenv-linter"
version = "0.1.4"
description = "Linting dotenv files like a charm!"
authors = [
  "sobolevn <mail@sobolevn.me>"
]
license = "MIT"

readme = "README.md"

repository = "https://github.com/wemake-services/dotenv-linter"
homepage = "https://dotenv-linter.readthedocs.io"

keywords = [
  "dotenv",
  "linter",
  "wemake.services",
  "code quality"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.dependencies]
python = "^3.6 || ^3.7"
ply = "^3.11"
click = "^6.0"
click_default_group = "^1.2"
dataclasses = { version = "^0.6", python = "<3.7" }
typing_extensions = "^3.6"

[tool.poetry.dev-dependencies]
pytest = "^4.1"
pytest-cov = "^2.6"
pytest-randomly = "^1.2"
pytest-flake8 = "^1.0"
flake8 = "<3.7"
wemake-python-styleguide = "^0.7"
mypy = "^0.650"
sphinx = "^1.8"
sphinx-autodoc-typehints = "^1.6"
sphinx-click = "^1.4"
doc8 = "^0.8"
m2r = "^0.2"
tomlkit = "^0.5"

[tool.poetry.scripts]
dotenv-linter = "dotenv_linter.cli:cli"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
