# This file is used to setup env
# to generate documentation.

sphinx==4.5.0
sphinx_autodoc_typehints==1.17.0
sphinx-click==3.1.0
recommonmark==0.7.1
m2r2==0.3.2
tomlkit==0.10.0
pygments==2.11.2

# Dependencies of our linter:
typing-extensions==4.1.1
click==8.0.4
click_default_group==1.2.2
dataclasses==0.6.0
ply==3.11
