# This file is used to setup env
# to generate documentation.

sphinx==4.5.0
sphinx_autodoc_typehints==1.18.1
sphinx-click==4.0.2
recommonmark==0.7.1
m2r2==0.3.2
tomlkit==0.10.1
pygments==2.11.2

# Dependencies of our linter:
typing-extensions==4.2.0
click==8.1.2
click_default_group==1.2.2
dataclasses==0.6.0
ply==3.11
