# This file is used to setup env
# to generate documentation.

sphinx==4.0.3
sphinx_autodoc_typehints==1.12.0
sphinx-click==3.0.1
recommonmark==0.7.1
m2r2==0.2.8
tomlkit==0.7.2
pygments==2.9.0

# Dependencies of our linter:
typing-extensions==3.10.0.0
click==8.0.1
click_default_group==1.2.2
dataclasses==0.6.0
ply==3.11
